
    .dropdown:hover .dropdown-menu{
        display: block;
    }
    .dropdown-menu{
        margin-top: 0;
    }

    #nav1{
        background-color: rgb(246, 250, 14);
    }

#bg {
    margin-top: 200px;
   
}

body{
    background-image: url('/img/BG.jpg');
}



.sli{
    width: 240px;
    max-height:190px;
}

.vitrine{
    width: 240;
    height:400px;
}


.card-img-overlay{
color: white;
font-weight: 900;
}
    @media (max-width: 767px) {
        .carousel-inner .carousel-item > div {
            display: none;
        }
        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
    }
    
    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }
    
    /* medium and up screens */
    @media (min-width: 768px) {
        
        .carousel-inner .carousel-item-end.active,
        .carousel-inner .carousel-item-next {
          transform: translateX(25%);
        }
        
        .carousel-inner .carousel-item-start.active, 
        .carousel-inner .carousel-item-prev {
          transform: translateX(-25%);
        }
    }
    
    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start { 
      transform: translateX(0);
    }